### DF-CATEGORICOS

- Columna "age" hay numero y strings.

- Columna "attrition" están todos los datos.

- Columna "businesstravel"  
                            
                            travel_rarely        616
                            travel_frequently    168
                            non-travel            93
                            nulos                801


- Columna "departament"
                        
                        Research & Development     203
                        Sales                       93
                        Human Resources             16
                        Nulos                     1366

- Columna "educationfield" 
                            
                            Life Sciences       367
                            Medical             286
                            Marketing           106
                            Technical Degree     70
                            Other                63
                            Human Resources      12
                            Nulos               774

- Columna "jobrole" hay que cambiar las mayusculas por minusculas y juntar los datos.

- Columna "maritalstatus" hay nombres mal escritos.
                                
                                Married     419
                                Single      343
                                Divorced    194
                                Marreid      36
                                divorced     11
                                Nulos       675
                       

- Columna "monthlyincome" hay que pasar a tipo float y hay 489 nulos.

- Columna "monthlyrate" hay que pasar a tipo float 

- Columna "over18"          

                            Y           740
                            Nulos       938

- Columna "overtime"
                            
                            No     714
                            Yes    268
                            Nulos  696

- Columna "performancerating" hay que cambiarlo a float
                            
                            3,0    1257
                            4,0     221
                            Nulos   200

- Columna "standardhours" 
                            
                            Part Time    927
                            Full Time    400
                            Nulos        351

- Columna "totalworkingyears" hay que pasarlo a tipo float y 549 nulos.

- Columna "worklifebalance" hay que cambiarlo a float.
                            
                            3,0    946
                            2,0    374
                            4,0    162
                            1,0     82
                            Nulos  114

- Columna "yearsincurrentrole" hay que pasarlo a tipo float y hay 1643 nulos.

- Columna "sameasmonthlyincome" hay que pasarlo a tipo float y hay 489 nulos.

- Columna "salary" hay que pasarlo a tipo float y hay 285 nulos.

- Columna "roledepartament" hay que poner bien los nombres, cambiar las mayusculas a minusculas y hay 1366 nulos.

- Columna "remotework" hay que cambiar a True o False
                            
                            1        375
                            True     362
                            False    318
                            0        318
                            Yes      305

In [ ]:
df['categoria'] = pd.to_numeric(df['categoria'], errors='coerce')

In [ ]:
def exploracion(df):

    df_info = pd.DataFrame()

    df_info["% nulos"] = round(df.isna().sum()/df.shape[0]*100, 2).astype(str)+"%"
    df_info["% no_nulos"] = round(df.notna().sum()/df.shape[0]*100, 2).astype(str)+"%"
    df_info["tipo_dato"] = df.dtypes
    df_info["num_valores_unicos"] = df.nunique()

    print(f"""El DataFrame tiene {df.shape[0]} filas y {df.shape[1]} columnas.
Tiene {df.duplicated().sum()} datos duplicados, lo que supone un porcentaje de {round(df.duplicated().sum()/df.shape[0], 2)}% de los datos.

Hay {len(list(df_info[(df_info["% nulos"] != "0.0%")].index))} columnas con datos nulos, y son: 
{list(df_info[(df_info["% nulos"] != "0.0%")].index)}

y sin nulos hay {len(list(df_info[(df_info["% nulos"] == "0.0%")].index))} columnas y son: 
{list(df_info[(df_info["% nulos"] == "0.0%")].index)}


A continuación tienes un detalle sobre los datos nulos y los tipos y número de datos:""")
    
    display(df_info.head())

    print("Principales estadísticos de las columnas categóricas:")

    display(df.describe(include="O").T)

    print("Principales estadísticos de las columnas numéricas:")

    display(df.describe(exclude="O").T)

    return df_info